body {
    background-color: lightgray;
    background-image: url("/Users/mdewey/Development/javascript/480px-Unofficial_JavaScript_logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
}